@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html{
    font-size: 62.5%;
}

.box-calculator{
    background-color: black;
    display: grid;
    width: 30rem;
    height: 46rem;
    margin: 2rem auto;
    border-radius: 0.8rem;
    grid-template-columns: 7.5rem 7.5rem 7.5rem 7.5rem;
    grid-template-rows: 9rem 6rem 6rem 6rem 6rem 6rem;
    grid-template-areas: "display display display display"
                        "CE percent radiciacao btn_division"
                         "btn_7 btn_8 btn_9 btn_multiplication"
                         "btn_4 btn_5 btn_6 btn_subtration"
                         "btn_1 btn_2 btn_3 btn_addition"
                         "btn_0 btn_dot btn_equal btn_addition"
    ;
    padding: 2rem 4rem 3rem 4rem;
    gap: 1.5rem;
    justify-content: center;
}

.calculator-display{
    background-color: #a6a797;
    grid-area: display;
    border-radius: 0.8rem;
    box-shadow: inset 0 0 2rem rgba(58, 58, 58, 0.7);
}

.numbers-viewers{
    font-size: 4.4rem;
    text-align: right;
    color: white;
    font-family: 'PT Mono', monospace;
    margin-right: 1rem;
    width: 100%;
    height: 100%;
}

.viewer-operation{
    height: 1.5rem;
    color: rgba(58, 58, 58, 0.411);
    font-size: 2.4rem;
    margin: 1rem 0 0 1rem;
}

.btn-pattern{
    box-shadow: inset 0.5rem 0.5rem 2rem rgba(219, 219, 219, 0.5);
    background-color: gray;
    color: white;
    border-radius: 0.5rem;
}

.btn_seven{
    grid-area: btn_7;
    /* border: none; */
}

.btn_eight{
    grid-area: btn_8;
}
.btn_nine{
    grid-area: btn_9;
}

.btn_division{
    grid-area: btn_division;
}

.btn_four{
    grid-area: btn_4;
}

.btn_five{
    grid-area: btn_5;
}

.btn_six{
    grid-area: btn_6;
}

.btn_multi{
    grid-area: btn_multiplication;
}

.btn_one{
    grid-area: btn_1;
}

.btn_two{
    grid-area: btn_2;
}

.btn_three{
    grid-area: btn_3;
}

.btn_subtration{
    grid-area: btn_subtration;
}

.btn_zero{
    grid-area: btn_0;
}

.btn_dot{
    grid-area: btn_dot;
}

.btn_equal{
    grid-area: btn_equal;
}

.btn_add{
    grid-area: btn_addition;
}